{% extends "base-admin.html.twig" %}
{% block content %}
    <div class="container-fluid">
    <div class="col-md-9 col-lg-10 main">
    <h1 class="sub-header mt-5"> Coaching Présentation</h1>
    <hr>
    <h2 class="lead hidden-xs-down"><i class="fa fa-arrow-right"></i> Dans l'onglet Activités, voulez-vous ajouter, un titre avec un contenu?</h2>
    <div class="row mb-3">
        <p> Remplissez alors ce formulaire:</p>

    </div>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <hr>
    <button type="submit" class="btn btn-danger">Ajouter</button>
    <hr>
    {{ form_end(form) }}
    </div>
    </div>
{% endblock %}