{% extends "base-admin.html.twig" %}
{% block content %}
    <div class="col-md-9 col-lg-10 main">
        <h1 class="sub-header mt-5"> Différentes activités</h1>
        <hr>
        <div class="row">
            <div class="col-sm-6 col-md-9">
                <div class="card text-center">
                    <div class="card-header">
                        <h5 class="card-title">Coaching individuel:</h5>
                    </div>
                    <div class="card-body">
                        <p class="card-text">Voulez-vous ajouter ou modifier voire supprimer un élément?</p>
                        <a href="#" class="btn btn-info">Ajouter</a>
                        <a href="#" class="btn btn-warning">Modifier</a>
                    </div>
                </div>
            </div>
        </div>
            <hr>
            <div class="row">
                <div class="col-sm-6 col-md-9">
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">Coaching professionnel:</h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">Voulez-vous ajouter ou modifier voire supprimer un élément?</p>
                            <a href="#" class="btn btn-info">Ajouter</a>
                            <a href="#" class="btn btn-warning">Modifier</a>
                        </div>
                    </div>
                </div>
            </div>
                <hr>
                <div class="row">
                    <div class="col-sm-6 col-md-9">
                        <div class="card text-center">
                            <div class="card-header">
                                <h5 class="card-title">Coaching scolaire:</h5>
                            </div>
                            <div class="card-body">
                                <p class="card-text">Voulez-vous ajouter ou modifier voire supprimer un élément?</p>
                                <a href="#" class="btn btn-info">Ajouter</a>
                                <a href="#" class="btn btn-warning">Modifier</a>
                            </div>
                        </div>
                    </div>
                </div>

        <hr>


    </div>
{% endblock %}