{% extends 'base.html.twig' %}
{% block content %}
    <div class="container-fluid" style="background-color: rgba(212,214,208,0.98)">

        <hr/>
        <div class="container" style="background-color: rgba(212,214,208,0.98)">
            <div class="row  ">
                <div class="col-md-9 col-lg-10 main align-content-center">
                    <h2 class="sub-header mt-5  col-lg-10">Le coaching:</h2>
                </div>
            </div>
            <hr/>
            <div class="rounded-circle">
                <h3></h3>
            </div>

{% endblock %}