{% extends 'base.html.twig' %}
{% block content %}
    <hr>
    <div class="col-md-9 col-lg-10 main">
        <h1 class="sub-header mt-5"> Accueil</h1>
        <h2 class="lead hidden-xs-down">Informations générales du site Coach:</h2>
        <div class="col-lg-12 col-md-12 ">

            <div class="table-responsive">
            {#    <table class="table-responsive-sm table-striped  "  id="Contacts" >
                    <thead class="table-info">
                    <tr>


                        <th style="width: 15%">Date</th>
                        <th style="width: 10%">Titre</th>
                        <th style="width: 10%">Contenu</th>
                        <th style="width: 15%">Publié</th>


                        <th  style="width: 15%" >Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for newsletter in newsletters | reverse %}
                        <tr>

                            <td>{{ newsletter.date | date('d-m-y')}}</td>
                            <td>{{ newsletter.title }}</td>
                            <td>{{ newsletter.content }}</td>
                            <td>{{ newsletter.send }}</td>

                            <td class="text-center">
                                <div class="btn-group">
                                    <button type="button" class="btn-sm btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Actions
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right">
                                        <a href="#"><button class="dropdown-item btn-sm" type="button">Editer/Modifier</button></a>
                                        <a href="#"><button class="dropdown-item btn-sm" type="button">Supprimer</button></a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table> #}
                <hr>
            </div>
    </div>
{% endblock %}



